{% extends "base/base.html" %}
{% block navbar %}
{% endblock %}
{% block content %}
{% if validlink %}
    <h2>Nueva contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <label for="{{form.new_password1.name}}">{{form.new_password1.label}}</label> 
        {{form.new_password1}}
        <label for="{{form.new_password2.name}}">{{form.new_password2.label}}</label> 
        {{form.new_password2}}
        <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
    </form>
{% else %}
    <h2>Enlace Invalido: Este enlace ya ha sido utilizado</h2>
{% endif %}
{% endblock %}